
<div ng-init="init()">
    <!-- Test cases node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node" data-type="testcases">
            <div class="tree-node" data-type="testcases">
                <div class="tree-node-content">
                    <span style="color:black;cursor:default" class="text-info">{{node.SectionTitle}}</span>
                    <span style="margin-right: 8px;cursor:default" class="pull-right btn-primary btn-xs" data-nodrag ng-click="openInputArea(this)">Add Test Case</span>
                    <!--input new test case title area-->
                    <form ng-submit="newTestCase(this)">
                        <div class="form-group" ng-class="{'has-error' : !inputTestCase.title}">
                            <div id="inputTestCase" ng-show="isNodeSelected(this)">
                                <input ng-focus="isTestCaseInput.focus" ng-focus-lost="inputLostFocus()" type="text" class="form-control" id="inputTestCaseTitle" ng-model="inputTestCase.title" />
                                <button class="btn btn-primary btn-xs" data-nodrag type="submit" style="margin-right: 8px;"><span class="glyphicon glyphicon-ok"></span></button>
                                <a class="btn btn-danger btn-xs" data-nodrag ng-click="closeInputArea(this)"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ol ui-tree-nodes="" ng-model="node.testcases" ng-class="{hidden: collapsed}" data-type="subtestcases">
            <li ng-repeat="node in node.testcases" ui-tree-node ng-include="'test_cases_renderer.html'" data-type="subtestcases">
            </li>
        </ol>
        <ol ui-tree-nodes="" ng-model="node.childs" ng-class="{hidden: collapsed}" data-type="testcases">
            <li ng-repeat="node in node.childs" ui-tree-node ng-include="'nodes_renderer.html'" data-type="testcases">
            </li>
        </ol>
    </script>
    <!-- sub Test cases node template-->
    <script type="text/ng-template" id="test_cases_renderer.html">
        <div class="tree-node-test-case">
            <div class="tree-node-content">
                <a data-nodrag ng-click="getNodeDetail(this, 'lg')" style="cursor:default">{{node.TestCaseTitle}}</a>
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeTestCase(this)"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="editNode(this, 'lg')" style="margin-right: 8px;"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
        </div>
    </script>

    <!-- Section node template -->
    <script type="text/ng-template" id="simple_nodes_renderer.html">
        <div ui-tree-handle class="tree-node" data-type="section">
            <div class="tree-node-content">
                <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                <span style="color:black;cursor:default" class="text-info">{{node.SectionTitle}}</span>
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeSection(this)"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="openInputArea(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-edit"></span></a>
                <!-- edit section name area-->
                <form ng-submit="editSectionTitle(node)">
                    <div class="form-group" ng-class="{'has-error' : !inputSection.title}">
                        <div id="inputTestCase" ng-show="isNodeSelected(this)">
                            <input ng-focus="isSectionInput.focus" ng-focus-lost="inputLostFocus()" type="text" class="form-control" id="inputSectionTitle" ng-model="inputSection.title" value="node.SectionTitle" />
                            <button type="submit" class="btn btn-primary btn-xs" data-nodrag ng-click="" style="margin-right: 8px;"><span class="glyphicon glyphicon-ok"></span></button>
                            <a class="btn btn-danger btn-xs" data-nodrag ng-click="closeInputArea(this)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <ol ui-tree-nodes="" ng-model="node.childs" ng-class="{hidden: collapsed}" data-type="section">
            <li ng-repeat="node in node.childs" ui-tree-node ng-include="'simple_nodes_renderer.html'" data-type="section">
            </li>
        </ol>
    </script>
    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Test Cases Tree -->
            <div class="col-sm-8 container">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>Test Cases</h3>
                        <div ui-tree="options" id="tree-root">
                            <ol ui-tree-nodes ng-model="tree" data-type="testcases">
                                <li ng-repeat="node in tree" ui-tree-node ng-include="'nodes_renderer.html'" data-type="testcases"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sections Tree -->
            <div class="col-sm-4 container">
                <div class="row">
                    <div>
                        <h3>Sections<a class="pull-right btn btn-primary btn-xs" ng-click="insertNewNode()" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a></h3>
                        <div ui-tree="options" id="tree-root">
                            <ol ui-tree-nodes ng-model="tree" data-type="section">
                                <li ng-repeat="node in tree" ui-tree-node ng-include="'simple_nodes_renderer.html'" data-type="section"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>