
@{
    ViewBag.Title = "Index";
}


<body ng-app="treesApp">

    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer1.html">
        <div ui-tree-handle class="tree-node">
            <div class="tree-node-content">
                <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                <a>{{node.title}}</a>
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="editNode(this, 'lg')" style="margin-right: 8px;"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'">
            </li>
        </ol>
    </script>

    <!-- Edit node dialog template -->
    <script type="text/ng-template" id="nodeContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{editNodeData.title}}</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <!-- Tree -->
    <div class="container" ng-controller="treesCtrl">
        <h3>Connected lists</h3>
        <div class="row">
            <div class="col-sm-6">
                <h3>Tree 1</h3>
                <div ui-tree id="tree1-root">
                    <ol ui-tree-nodes="" ng-model="tree1">
                        <li ng-repeat="node in tree1" ui-tree-node ng-include="'nodes_renderer1.html'"></li>
                    </ol>
                </div>
            </div>  
        </div>

        <h3>Data binding</h3>
        <div class="row">
            <div class="col-sm-6">
                <pre class="code">{{ tree1 | json }}</pre>
            </div>
        </div>

    </div>
</body>
@section scripts {
    @Scripts.Render("~/Scripts/AngularUITree/angular-ui-tree.js")
    @Scripts.Render("~/Scripts/MyScripts/IndexJavaScript.js")
}